<ion-view title='<a href="#/tab/home/trending"  style="text-decoration: none;">hatch' ng-controller="ProfileCtrl as vm">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <a style="color: white;" class="button button-icon icon ion-ios7-bell-outline" ng-click="clickCreaElencoSpese()" ng-href="#/tab/alerts"></a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a style="color: white;" class="button button-icon icon ion-ios7-person" ng-click="clickCreaElencoSpese()" ng-href="#/app/profile"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header" on-swipe-right="vm.onSwipeRight()">
        <div class="card">
            <img class="item" ng-src="{{vm.user.image}}" style="height:100%;width:100%;">
        </div>
        <div class="card">
            <div class="item item-divider item-energized">
                <span style="font-weight:bold;">About {{vm.profile.name}}</span>
            </div>
            <div class="item">
                <p>{{vm.profile.biography}}</p>
            </div>
        </div>
        <div class="card" style="margin-bottom:-10px;">
            <div class="item item-divider item-energized">
                <span class="" style="font-weight:bold;">Submitted ideas</span>
            </div>
        </div>

        <div class="row">
            <div class="col col-50 clock" ng-repeat="list in vm.ideasColumns" style="text-align:center">
                <div class="card" ng-repeat="idea in list">
                    <div class="item item-divider" style="background-color:#fff;font-size:10px;color:#A4AAAB">
                        <p style="font-size:10px;float:left;">{{idea.likes}} likes</p>
                        <img src="img/ios7-heart-outline.png" style="height:20px;width:20px;position:absolute;right:10px;top:25%" ng-click="vm.like(idea)">
                    </div>
                    <div style="position:relative;height:150px;width:100%;padding:0px;">
                        <img class="" ng-click="vm.toIdea(idea)" ng-src="data:image/jpeg;base64,{{idea.image}}" style="height:100%;width:100%;">
                    </div>

                    <div class="item item-divider" style="background-color:#fff;font-size:10px;color:#A4AAAB">
                        {{idea.name}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>